{%extends 'layout.html'%}

{%block content%}

<div class="text-center">
    <h2>{{post.title}}</h2>
<h3 class="my-2 h5 text-muted">{{post.date}}</h3>
<img src="{{post.image.url}}"alt="{{post.title}}"class= "img-fluid"/>

<div class="my-4">
    <p>{{post.description|safe}}</p>
</div>
    </div>

{%endblock%}
