{% extends 'layout.html' %}

{% block content%}

{% load static %}

<header class="row bg-black">
    <div class="cold-md-4">
        <img src= "{% static 'portfolio/R.jpg'%}"alt ="">
    </div>

    <div class="cold-md-8 my-auto">
        <h1> I am <strong> Ronald Tubay </strong></h1>
        <h3> I am a Python fullStack Developed </h3>
        <p> Crear una página web con Python ocurre frecuentemente con la ayuda de Django. Es un framework web que ofrece algunos de los componentes principales de programas complejos: autenticación (iniciar sesión, cerrar sesión), panel de administración, una estructura para subir archivos, motor de diseños y enrutamiento URL. En Django, todas estas funciones están disponibles inmediatamente para su uso después de configurar el framework. Sin el módulo, tendrías que escribir todas estas funciones a mano.
        </p>
        <a 
        href="{% static 'portfolio/Programacion.pdf' %}" class= "btn btn-primary btn-lg rounded-0 my-3">Download Programacion</a>

    </div>
</header>
<div class="row my-4 text-center">
    <h3>My projects</h3>
    <p> Seccion de proyectos </p>

{% for project in projects %}
<div class= "col-md-4 p-4">
    <div class="card bg-black card-project">
            <image src= "{{project.image.url}}"alt="{{project.title}}"  class = "img-fluid" class= "card-img-top">
            <div  class="card-body">
                <h2> {{project.title}}</h2>
                <p> {{project.description}}</p>

                <br>
                {%if project.url%}
                    <a href= "{{project.url}}" class ="btn btn-light rounded-0 btn-sm" target="_blank">{{project.url}}</a>
                {%endif%}
        </div>
    </div>
</div>

{% endfor %}
{%endblock%}  
</div>